.header-store {
  color: white;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}
.header-store > .title {
  float: left;
  font-size: 40px;
  font-family: Arial, "Roboto Mono", Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.header-store > .navigation {
  float: right;
  font-size: 21px;
  font-family: "Segoe UI", "Roboto Mono", sans-serif;
}
.header-store input[type="search"] {
  width: 358px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  vertical-align: text-bottom;
  color: inherit;
  font-size: 20px;
  font-family: Arial, "Roboto Mono", Helvetica, sans-serif;
  padding: 8px;
  margin-right: 65px;
}
.header-store .action {
  text-decoration: none;
  margin-right: 60px;
  color: inherit;
}
.header-store .action.-sublime {
  position: relative;
}
.header-store .action:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms linear;
  transform-origin: center left;
}
.header-store .action.-sublime:hover:after {
  transform: scaleX(1);
}
.header-store .action.-last {
  margin-right: 0;
}
