.header-store {
  color: white;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}
.header-store > .title {
  float: left;
  font-size: 40px;
  font-family: Arial, "Roboto Mono", Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.header-store > .navigation {
  float: right;
  font-size: 21px;
  font-family: "Segoe UI", "Roboto Mono", sans-serif;
}
.header-store input[type="search"] {
  width: 358px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  vertical-align: sub;
  color: inherit;
  font-size: 20px;
  font-family: Arial, "Roboto Mono", Helvetica, sans-serif;
  padding: 8px;
  margin-right: 65px;
}
.header-store .action {
  text-decoration: none;
  margin-right: 60px;
  color: inherit;
}
.header-store .action.action.-sublime {
  position: relative;
}
.header-store .slider {
  position: absolute;
  display: block;
  left: 0;
  top: 110%;
  margin: 0 auto;
  height: 2px;
  background-color: #fff;
  width: 0;
  transition: width 500ms ease;
}
.header-store .action.-sublime:hover .slider {
  width: 100%;
}
.header-store .action.-last {
  margin-right: 0;
}
