.photo-product {
  display: inline-block;
  height: 554px;
  background-color: #fff;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 156px;
}
.heart {
  display: inline-block;
  margin-top: 56px;
  margin-right: 46px;
  vertical-align: top;
}
