.wrapper-product {
  display: inline-block;
  width: 554px;
  margin-bottom: 98px;
}
.product-store {
  position: relative;
  color: #fff;
  font-family: "Roboto Mono";
}
.product-store > .title {
  font-size: 25px;
  margin-bottom: 50px;
}
.product-store > .item {
  font-size: 20px;
  margin-bottom: 28px;
}
.product-store > .item.-star {
  margin-bottom: 10px;
}
.product-store .cursor {
  cursor: pointer;
}
.product-store > .item.-star + .item {
  margin-left: 7px;
}
.product-store > .item.-info {
  width: 200px;
  text-align: right;
}
.product-store > .item.-last {
  margin-bottom: 72px;
}
.product-store .contrast {
  text-transform: uppercase;
  float: left;
}
.product-store > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.product-store > .text.-more {
  margin-bottom: 0px;
}
.product-store .action {
  color: inherit;
  text-decoration: none;
}
.wrapper-product > .buttons {
  position: absolute;
  transform: translateY(calc(100% + 98px));
}
